[submodule "crosstool-ng"]
	path = crosstool-ng
	url = https://github.com/crosstool-ng/crosstool-ng.git
[submodule "newlib"]
	path = newlib
	url = https://github.com/insane-adding-machines/newlib.git
