[submodule "crosstool-ng"]
	path = crosstool-ng
	url = git@github.com:crosstool-ng/crosstool-ng.git
[submodule "newlib"]
	path = newlib
	url = git@github.com:insane-adding-machines/newlib.git
[submodule "elf2flt"]
	path = elf2flt
	url = git@github.com:insane-adding-machines/elf2flt.git
